:root {
  --darkBlue: #006BF2;
  --error: #F44336;
  --darkGray: #778088;
  --textGray: #676A6C;
  --lightGray: #F3F3F3;
  --deepGray: #666;
  --teal: #23C6C8;
  --blueBackground: #2F4050;

  /* Brand Colors */
  --red: #ED3620;
  --blue: #3498DB;
  --turquoise: #00A89A;
  --orange: #FF8F00;
  --green: #3FA142;
  --purple: #9209AE;
  --violet: #3E4EB8;
  --navy: #0048C7;

  /* Neutral Colors */
  --white: #FFF;
  --mist: #FAFAFA;
  --fog: #F5F5F5;
  --typhoon: #EEE;
  --ash: #DDD;
  --silver: #CCC;
  --gray: #999;
  --dim: #555;
  --dark: #333;
  --black: #000;

  /* Opacity gradient colors */
  --black0_8: rgba(0, 0, 0, 0.8);
  --black0_6: rgba(0, 0, 0, 0.6);
  --black0_4: rgba(0, 0, 0, 0.4);
  --black0_2: rgba(0, 0, 0, 0.2);
  --white0_8: rgba(255, 255, 255, 0.8);
  --white0_6: rgba(255, 255, 255, 0.6);
  --white0_4: rgba(255, 255, 255, 0.4);
  --white0_2: rgba(255, 255, 255, 0.2);

  /* Work Order Status Colors */
  --unassigned: var(--gray);
  --assigned: var(--orange);
  --inProgress: var(--navy);
  --completed: var(--green);
  --closed: var(--ash);
  --positive: var(--green);
  --negative: var(--red);
  --highlight: rgba(0, 0, 0, 0.05);
  --link: var(--blue);
  --boxshadow: var(--black0_2);
  --lowOpacityBoxShadow: rgba(0, 0, 0, 0.2);
}
