@import '../../styles/colors.css';

.container {
  height: 100vh;
  width: 100vw;
  background-color: var(--lightGray);
  display: flex;
}

.left-nav-container {
  width: 15%;
  background-color: var(--ash);
}

.list-item-text {
  display: initial;
}

@media screen and (max-width: 440px) {
  .list-item-text {
    display: none;
  }
}


